# Dataset 1

Let's import numpy and pandas

In [27]:
import numpy as np
import pandas as pd

Reading the csv and storing the data of csv in data variable

In [28]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

Displaying the first 10 rows of data

In [29]:
data.head(10)

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1
5      5  44.0  $77k-$89k     1.4       India,In         1999       TRUE
6      6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
7      7  44.0  $44k-$99k    -1.0  Australia Aus           -1         -1
8      8  35.0  $44k-$99k     5.4    New York,Ny           -1         -1
9      9  22.0  $44k-$99k     7.7       India,In           -1       TRUE

Checking how many rows and columns the data has

In [30]:
data.shape

(29, 7)

gaining some information about dataset

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

displaying the column name

In [32]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

checking for the missing values/NULL values

In [33]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

Using mean() of Age column we can handle the missing values of Age column

In [34]:
avg_age = data["Age"].mean()

In [35]:
avg_age

39.04545454545455

by using fillna() we successfully filled avg values of Age to null values

In [36]:
data["Age"] = data["Age"].fillna(avg_age)

In [37]:
data["Age"]

0     44.000000
1     66.000000
2     39.045455
3     64.000000
4     25.000000
5     44.000000
6     21.000000
7     44.000000
8     35.000000
9     22.000000
10    55.000000
11    44.000000
12    39.045455
13    25.000000
14    66.000000
15    44.000000
16    19.000000
17    39.045455
18    35.000000
19    32.000000
20    39.045455
21    35.000000
22    19.000000
23    39.045455
24    13.000000
25    55.000000
26    39.045455
27    52.000000
28    39.045455
Name: Age, dtype: float64

In [38]:
data.isnull().sum()

Index          0
Age            0
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [39]:
data

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,$44k-$99k,5.4,"India,In",1999,TRUE
1,1,66.000000,$55k-$66k,3.5,"New York,Ny",2002,TRUE
2,2,39.045455,$77k-$89k,-1.0,"New York,Ny",-1,-1
3,3,64.000000,$44k-$99k,4.4,India In,1988,-1
4,4,25.000000,$44k-$99k,6.4,Australia Aus,2002,-1
5,5,44.000000,$77k-$89k,1.4,"India,In",1999,TRUE
6,6,21.000000,$44k-$99k,0.0,"New York,Ny",-1,-1
7,7,44.000000,$44k-$99k,-1.0,Australia Aus,-1,-1
8,8,35.000000,$44k-$99k,5.4,"New York,Ny",-1,-1
9,9,22.000000,$44k-$99k,7.7,"India,In",-1,TRUE
10,10,55.000000,$10k-$49k,5.4,"India,In",2008,TRUE
11,11,44.000000,$10k-$49k,6.7,"India,In",2009,-1
12,12,39.045455,$44k-$99k,0.0,"India,In",1999,-1
13,13,25.000000,$44k-$99k,-1.0,Australia Aus,2019,TRUE
14,14,66.000000,$44k-$99k,4.0,Australia Aus,2020,TRUE
15,15,44.000000,$88k-$101k,3.0,Australia Aus,1999,-1
16,16,19.000000,$19k-$40k,4.5,"India,In",1984,-1
17,17,39.045455,$44k-$99k,5.3,"New York,Ny",1943,TRUE
18,18,35.000000,$44k-$99k,6.7,"New York,Ny",1954,TRUE
19,19,32.000000,$44k-$99k,3.3,"New York,Ny",1955,TRUE
20,20,39.045455,$44k-$99k,5.7,"New York,Ny",1944,TRUE
21,21,35.000000,$44k-$99k,5.0,"New York,Ny",1946,-1
22,22,19.000000,$55k-$66k,7.8,"New York,Ny",1988,TRUE
23,23,39.045455,$44k-$99k,2.4,"New York,Ny",1999,TRUE
24,24,13.000000,$44k-$99k,-1.0,"New York,Ny",1987,-1
25,25,55.000000,$44k-$99k,0.0,Australia Aus,1980,TRUE
26,26,39.045455,$55k-$66k,NaN,"India,In",1934,TRUE
27,27,52.000000,$44k-$99k,5.4,"India,In",1935,-1
28,28,39.045455,$39k-$88k,3.4,Australia Aus,1932,-1

Rounding to one decimal place

In [40]:
data["Age"]=data["Age"].round(decimals=1)

Calculating the mean of Rating column

In [41]:
avg_rating=data["Rating"].mean()

In [42]:
avg_rating

3.528571428571429

Filling the null values with mean values

In [43]:
data["Rating"]=data["Rating"].fillna(avg_rating)

In [44]:
data["Rating"]

0     5.400000
1     3.500000
2    -1.000000
3     4.400000
4     6.400000
5     1.400000
6     0.000000
7    -1.000000
8     5.400000
9     7.700000
10    5.400000
11    6.700000
12    0.000000
13   -1.000000
14    4.000000
15    3.000000
16    4.500000
17    5.300000
18    6.700000
19    3.300000
20    5.700000
21    5.000000
22    7.800000
23    2.400000
24   -1.000000
25    0.000000
26    3.528571
27    5.400000
28    3.400000
Name: Rating, dtype: float64

In [45]:
data.isnull().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

No null values left!

Now , by observing the data we know that there are negative values in Rating column

Replacing the negative values to null values

In [46]:
data["Rating"]=data["Rating"].replace(-1.000000,np.nan)

In [47]:
data["Rating"]

0     5.400000
1     3.500000
2          NaN
3     4.400000
4     6.400000
5     1.400000
6     0.000000
7          NaN
8     5.400000
9     7.700000
10    5.400000
11    6.700000
12    0.000000
13         NaN
14    4.000000
15    3.000000
16    4.500000
17    5.300000
18    6.700000
19    3.300000
20    5.700000
21    5.000000
22    7.800000
23    2.400000
24         NaN
25    0.000000
26    3.528571
27    5.400000
28    3.400000
Name: Rating, dtype: float64

Replacing null values with mean

In [48]:
data["Rating"]=data["Rating"].fillna(avg_rating)

In [49]:
data["Rating"]

0     5.400000
1     3.500000
2     3.528571
3     4.400000
4     6.400000
5     1.400000
6     0.000000
7     3.528571
8     5.400000
9     7.700000
10    5.400000
11    6.700000
12    0.000000
13    3.528571
14    4.000000
15    3.000000
16    4.500000
17    5.300000
18    6.700000
19    3.300000
20    5.700000
21    5.000000
22    7.800000
23    2.400000
24    3.528571
25    0.000000
26    3.528571
27    5.400000
28    3.400000
Name: Rating, dtype: float64

In [50]:
data["Rating"] = data["Rating"].round(decimals=1)

In [51]:
data["Rating"]

0     5.4
1     3.5
2     3.5
3     4.4
4     6.4
5     1.4
6     0.0
7     3.5
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    3.5
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    3.5
25    0.0
26    3.5
27    5.4
28    3.4
Name: Rating, dtype: float64

In [52]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  39.0   $77k-$89k     3.5    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k     3.5  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12  39.0   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k     3.5  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17  39.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20  39.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23  39.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k     3.5    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26  39.0   $55k-$66k     3.5       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia Aus         1932         -1

In [53]:
data.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          29 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       29 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

Finding outliers in Age and Rating columns

In [55]:
Outlier = ['Age','Rating']
for i in Outlier:
    Q1 = data[i].quantile(0.25)
    Q3 = data[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[i] < lower_bound) | (data[i] > upper_bound)]

    print(f"Potential Outliers in {i}: ")
    print(outliers)

Potential Outliers in Age:
    Index   Age     Salary  Rating       Location  Established Easy Apply
1       1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
3       3  64.0  $44k-$99k     4.4       India In         1988         -1
14     14  66.0  $44k-$99k     4.0  Australia Aus         2020       TRUE
24     24  13.0  $44k-$99k     3.5    New York,Ny         1987         -1
Potential Outliers in Rating:
    Index   Age     Salary  Rating       Location  Established Easy Apply
6       6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
12     12  39.0  $44k-$99k     0.0       India,In         1999         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE

Converting Age column into integer datatype

In [56]:
data["Age"]=data['Age'].astype(int)

In [57]:
data["Age"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29 entries, 0 to 28
Series name: Age
Non-Null Count  Dtype
--------------  -----
29 non-null     int64
dtypes: int64(1)
memory usage: 360.0 bytes

In [58]:
data.isnull().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

Now dataset does not have any null values

In [59]:
data.head()

   Index  Age     Salary  Rating       Location  Established Easy Apply
0      0   44  $44k-$99k     5.4       India,In         1999       TRUE
1      1   66  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   39  $77k-$89k     3.5    New York,Ny           -1         -1
3      3   64  $44k-$99k     4.4       India In         1988         -1
4      4   25  $44k-$99k     6.4  Australia Aus         2002         -1

In [60]:
data["Salary"] = data["Salary"].str.replace("$","",regex=True)
data["Salary"] = data["Salary"].str.replace("k","000")

In [61]:
data["Salary"]

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

Separing the values into Min and Max salary using - as separater

In [62]:
data["Salary"]=data["Salary"].str.split("-")

In [63]:
data["Min-Salary"]=data["Salary"].str[0]
data["Max-Salary"]=data["Salary"].str[1]

In [64]:
data.head()

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,"[44000, 99000]",5.4,"India,In",1999,TRUE,44000,99000
1,1,66,"[55000, 66000]",3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,"[77000, 89000]",3.5,"New York,Ny",-1,-1,77000,89000
3,3,64,"[44000, 99000]",4.4,India In,1988,-1,44000,99000
4,4,25,"[44000, 99000]",6.4,Australia Aus,2002,-1,44000,99000

In [65]:
data=data.drop(columns=["Salary"])

In [66]:
data.head()

,Index,Age,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,3.5,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          29 non-null     int64
 2   Rating       29 non-null     float64
 3   Location     29 non-null     object
 4   Established  29 non-null     int64
 5   Easy Apply   29 non-null     object
 6   Min-Salary   29 non-null     object
 7   Max-Salary   29 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.9+ KB

In [68]:
data["Min-Salary"]=data["Min-Salary"].astype(int)
data["Max-Salary"]=data["Max-Salary"].astype(int)

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          29 non-null     int64
 2   Rating       29 non-null     float64
 3   Location     29 non-null     object
 4   Established  29 non-null     int64
 5   Easy Apply   29 non-null     object
 6   Min-Salary   29 non-null     int64
 7   Max-Salary   29 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.9+ KB

In [70]:
data.head(10)

,Index,Age,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,3.5,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000
5,5,44,1.4,"India,In",1999,TRUE,77000,89000
6,6,21,0.0,"New York,Ny",-1,-1,44000,99000
7,7,44,3.5,Australia Aus,-1,-1,44000,99000
8,8,35,5.4,"New York,Ny",-1,-1,44000,99000
9,9,22,7.7,"India,In",-1,TRUE,44000,99000

In [71]:
data["Location"]=data["Location"].str.split(",").str[0]

In [72]:
data["Location"] = data["Location"].str.replace(" Aus","")
data["Location"] = data["Location"].str.replace(" In","")

In [73]:
data["Location"]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

In [74]:
data.head()

,Index,Age,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,5.4,India,1999,TRUE,44000,99000
1,1,66,3.5,New York,2002,TRUE,55000,66000
2,2,39,3.5,New York,-1,-1,77000,89000
3,3,64,4.4,India,1988,-1,44000,99000
4,4,25,6.4,Australia,2002,-1,44000,99000

In [75]:
data["Established"] = data["Established"].replace(-1,np.nan)

In [76]:
data["Established"].head()

0    1999.0
1    2002.0
2       NaN
3    1988.0
4    2002.0
Name: Established, dtype: float64

In [77]:
data["Easy Apply"] = data["Easy Apply"].replace("-1","FALSE")

In [78]:
data["Easy Apply"]

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
26     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

In [79]:
data.head(4)

,Index,Age,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,5.4,India,1999.0,TRUE,44000,99000
1,1,66,3.5,New York,2002.0,TRUE,55000,66000
2,2,39,3.5,New York,NaN,FALSE,77000,89000
3,3,64,4.4,India,1988.0,FALSE,44000,99000

In [80]:
data[["Established","Age"]]

    Established  Age
0        1999.0   44
1        2002.0   66
2           NaN   39
3        1988.0   64
4        2002.0   25
5        1999.0   44
6           NaN   21
7           NaN   44
8           NaN   35
9           NaN   22
10       2008.0   55
11       2009.0   44
12       1999.0   39
13       2019.0   25
14       2020.0   66
15       1999.0   44
16       1984.0   19
17       1943.0   39
18       1954.0   35
19       1955.0   32
20       1944.0   39
21       1946.0   35
22       1988.0   19
23       1999.0   39
24       1987.0   13
25       1980.0   55
26       1934.0   39
27       1935.0   52
28       1932.0   39

In [81]:
data

,Index,Age,Rating,Location,Established,Easy Apply,Min-Salary,Max-Salary
0,0,44,5.4,India,1999.0,TRUE,44000,99000
1,1,66,3.5,New York,2002.0,TRUE,55000,66000
2,2,39,3.5,New York,NaN,FALSE,77000,89000
3,3,64,4.4,India,1988.0,FALSE,44000,99000
4,4,25,6.4,Australia,2002.0,FALSE,44000,99000
5,5,44,1.4,India,1999.0,TRUE,77000,89000
6,6,21,0.0,New York,NaN,FALSE,44000,99000
7,7,44,3.5,Australia,NaN,FALSE,44000,99000
8,8,35,5.4,New York,NaN,FALSE,44000,99000
9,9,22,7.7,India,NaN,TRUE,44000,99000
10,10,55,5.4,India,2008.0,TRUE,10000,49000
11,11,44,6.7,India,2009.0,FALSE,10000,49000
12,12,39,0.0,India,1999.0,FALSE,44000,99000
13,13,25,3.5,Australia,2019.0,TRUE,44000,99000
14,14,66,4.0,Australia,2020.0,TRUE,44000,99000
15,15,44,3.0,Australia,1999.0,FALSE,88000,101000
16,16,19,4.5,India,1984.0,FALSE,19000,40000
17,17,39,5.3,New York,1943.0,TRUE,44000,99000
18,18,35,6.7,New York,1954.0,TRUE,44000,99000
19,19,32,3.3,New York,1955.0,TRUE,44000,99000
20,20,39,5.7,New York,1944.0,TRUE,44000,99000
21,21,35,5.0,New York,1946.0,FALSE,44000,99000
22,22,19,7.8,New York,1988.0,TRUE,55000,66000
23,23,39,2.4,New York,1999.0,TRUE,44000,99000
24,24,13,3.5,New York,1987.0,FALSE,44000,99000
25,25,55,0.0,Australia,1980.0,TRUE,44000,99000
26,26,39,3.5,India,1934.0,TRUE,55000,66000
27,27,52,5.4,India,1935.0,FALSE,44000,99000
28,28,39,3.4,Australia,1932.0,FALSE,39000,88000

After successfully cleaning the dataset and resolving any inconsistencies, and converting categorical values into numerical values through techniques like OneHotEncoding etc, The data set will be ready for training the ML model :)

In [82]:
data1=pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

**Answering all the questions below which were given in the document.**

1. **Missing Values:**

Question: Are there any missing values in the dataset, and if so, how should they be handled for each indicator?


Answer: By using  data.isnull().sum() we  come to know that **Yes** There are missing values present in the dataset. Age col is having 7 missing values and Rating currently have only one. By calculating mean of numerical column we can replace null values with mean.

In [83]:
data1.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

2. **Data Types**:

Question: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

 Answer : Age and Salary must be of integer datatype

In [84]:
data1.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

3. **Outliers**:

Question: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

In [98]:
Outlier = ['Age','Rating']
for i in Outlier:
    Q1 = data1[i].quantile(0.25)
    Q3 = data1[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data1[(data1[i] < lower_bound) | (data1[i] > upper_bound)]

    print(f"Potential Outliers in {i}: ")
    print(outliers)
    ## After performing operations on Rating column we get 0.0 as the outlier present there

Potential Outliers in Age:
    Index   Age       Salary  Rating   Location  Established Easy Apply
1       1  66.0  55000-66000     3.5   New York       2002.0       TRUE
3       3  64.0  44000-99000     4.4      India       1988.0      FALSE
14     14  66.0  44000-99000     4.0  Australia       2020.0       TRUE
24     24  13.0  44000-99000     1.0   New York       1987.0      FALSE
Potential Outliers in Rating:
Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []


4. **Salary Formatting**:

Question: Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

Answer: Yes it requires formatting for consistent analysis. Eliminating the symbols '$' and 'k' from the salary values will contribute to refining our dataset.

In [85]:
data1["Salary"] = data1["Salary"].str.replace("$","",regex=True)
data1["Salary"] = data1["Salary"].str.replace("k","000")
data1["Salary"]

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

5. **Location Standardization**:

Question: Check the consistency of location entries. Do they need standardization, and how can this be achieved?

Answer: Yes there are inconsistent values in Location column. By splitting , we can achieve the consistent values

In [86]:
data1["Location"]=data1["Location"].str.split(",").str[0]

6. **Established Column**:

Question: Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

Answer: Yes there are negative values in Establish column which create inconsistency

In [87]:
data1["Established"] = data1["Established"].replace(-1,np.nan)


7. **Easy Apply Indicator**:

Question: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?

Answer: It contains True and -1 , need to transform for better analysis

8. **Rating Range**:

Question: Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [88]:
data1['Rating'] = data1.Rating.round(decimals = 1).abs()

9. **Age Distribution**:
Question: Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [89]:
avg_age=data1["Age"].mean()
data1["Age"] = data1["Age"].fillna(avg_age)

10. **Handling Special Characters**:

Question: Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

Location have space and comma

In [90]:
data1["Location"] = data1["Location"].str.replace(" Aus","")
data1["Location"] = data1["Location"].str.replace(" In","")

In [91]:
data1["Location"]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

11. **Data Integrity:**

Question: Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [92]:
data1[["Established","Age"]]

    Established        Age
0        1999.0  44.000000
1        2002.0  66.000000
2           NaN  39.045455
3        1988.0  64.000000
4        2002.0  25.000000
5        1999.0  44.000000
6           NaN  21.000000
7           NaN  44.000000
8           NaN  35.000000
9           NaN  22.000000
10       2008.0  55.000000
11       2009.0  44.000000
12       1999.0  39.045455
13       2019.0  25.000000
14       2020.0  66.000000
15       1999.0  44.000000
16       1984.0  19.000000
17       1943.0  39.045455
18       1954.0  35.000000
19       1955.0  32.000000
20       1944.0  39.045455
21       1946.0  35.000000
22       1988.0  19.000000
23       1999.0  39.045455
24       1987.0  13.000000
25       1980.0  55.000000
26       1934.0  39.045455
27       1935.0  52.000000
28       1932.0  39.045455

12. **Easy Apply Transformation**:

Question: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

 Answer: By replacing -1 to FALSE

In [93]:
data1["Easy Apply"] = data1["Easy Apply"].replace("-1","FALSE")

13. **Location Accuracy**:
Question: Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

Answer: No , after performing split() now currently location col have correct values. In previous data corrections were required!

In [94]:
data1.head()

   Index        Age       Salary  Rating   Location  Established Easy Apply
0      0  44.000000  44000-99000     5.4      India       1999.0       TRUE
1      1  66.000000  55000-66000     3.5   New York       2002.0       TRUE
2      2  39.045455  77000-89000     1.0   New York          NaN      FALSE
3      3  64.000000  44000-99000     4.4      India       1988.0      FALSE
4      4  25.000000  44000-99000     6.4  Australia       2002.0      FALSE

14. **Handling Categorical Data**:

Question: For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

Answer: For conversion of categorical values into numericl values, we require techniques like OneHotEncoding, Label encoder.

15. **Consistent Rating Scale**:

Question: Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [95]:
avg_rating=data1["Rating"].mean()
data1["Rating"]=data1["Rating"].fillna(avg_rating)

In [96]:
data1.head()

   Index        Age       Salary  Rating   Location  Established Easy Apply
0      0  44.000000  44000-99000     5.4      India       1999.0       TRUE
1      1  66.000000  55000-66000     3.5   New York       2002.0       TRUE
2      2  39.045455  77000-89000     1.0   New York          NaN      FALSE
3      3  64.000000  44000-99000     4.4      India       1988.0      FALSE
4      4  25.000000  44000-99000     6.4  Australia       2002.0      FALSE